<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/one.css">
        <link rel="stylesheet" href="../styles/article.css">
        <title>The famous internet shop</title>
    </head>

    <body>
        <div class="header">
            <a href="../index.html"><h3>The FISh</h3></a>
            <div class="user-nav">
                <a>Username</a>
                
                <div class="user-nav__content">
                    <a href="user.html">Profile</a>
                    <a href="login.html">Log Out</a>
                </div>
            </div>
        </div>

        <div class="main">
            

            <div class="article">
                <div class="back-link">
                    <span></span>
                    <a href="goods.html">Back to search</a>
                </div>

                <div class="photo-container"><img src="https://marketing.itbox.ua/static/tapes/banners/bannerru_17_1560350439.jpeg"></div>
                <div class="price">
                    <p>10000 uah</p>
                    <div class="amount-container">
                        <button class="plus">
                            <img src="../resurses/svg/commerce-and-shopping.svg">
                        </button>
                        <button class="btn-delay">
                            <img src="../resurses/svg/commerce.svg">
                        </button>
                        <button class="btn-compare">
                            <img src="../resurses/svg/education.svg">
                        </button>
                    </div>
                </div>
                <div class="desciption">
                    <h3>Description</h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil amet qui quas accusantium temporibus eligendi ut eos excepturi quia, reprehenderit optio incidunt quo. Est, pariatur maiores ratione voluptas sed provident!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates accusamus commodi quam maxime, debitis nisi itaque accusantium dicta voluptatum? Autem, id sed amet alias nostrum ea vitae hic omnis dolorum optio non dolores enim sit veritatis. Laudantium minima quaerat placeat.
                </div>
                <div class="behaviour">
                    <h3>Behaviour</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ut quibusdam aperiam enim magnam, nisi, nam beatae sunt eveniet tenetur molestiae ex quasi? Ea, cupiditate.
                </div>
        
            </div>
        </div>

        <footer class="footer">footer</footer>
    
    </body>
</html>