<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/one.css">
        <title>The famous internet shop</title>
    </head>

    <body>
        <div class="header">
            <a href="../index.html"><h3>The FISh</h3></a>
            <div class="user-nav">
                <a>Username</a>
                
                <div class="user-nav__content">
                    <a href="user.html">Profile</a>
                    <a href="login.html">Log Out</a>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="menu">
                <h3>Menu</h3>
                <ul class="menu-ul"> 
                    
                    <li><a href="#">Model</a>
                    <ul>
                        <li>GTX</li>
                        <li>Radeon</li>
                    </ul>
                    </li>
                    <li><a href="#">Power soplie</a></li>
                    <li><a href="#">Speeds</a></li>
                    <li><a href="#">Type</a></li>
                </ul>
            </div>

            <div class="content">
                <div class="item"><a href="article.html"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item0</a></div>
                <div class="item"><a href="article.html"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item1</a></div>
                <div class="item"><a href="article.html"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item2</a></div>
                <div class="item"><a href="article.html"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item3</a></div>
                <div class="item"><a href="article.html"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item4</a></div>
                <div class="item"><a href="article.html"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item5</a></div>
                <div class="item"><a href="article.html"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item6</a></div>
                <div class="item"><a href="article.html"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item7</a></div>
                <div class="item"><a href="article.html"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item8</a></div>
                <div class="item"><a href="article.html"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item9</a></div>
            </div>
        </div>
        <footer class="footer">footer</footer>
    
    </body>
</html>