<div class="body-block">
    <app-nav-bar></app-nav-bar>

    <div class="main">
        <div class="menu">
            <h3>Menu</h3>
            <ul class="menu-ul"> 
                
                <li><a href="#">Model</a>
                <ul>
                    <li>GTX</li>
                    <li>Radeon</li>
                </ul>
                </li>
                <li><a href="#">Power soplie</a></li>
                <li><a href="#">Speeds</a></li>
                <li><a href="#">Type</a></li>
            </ul>
        </div>

        <div class="content">
            <!-- <app-goods-item></app-goods-item> -->
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item0</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item1</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item2</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item3</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item4</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item5</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item6</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item7</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item8</a></div>
            <div class="item"><a href="article"><img src="https://img4.itbox.ua/200x200/prod_img/4/U0373294_big.jpg">item9</a></div>
        </div>
    </div>
    <footer class="footer">footer</footer>

</div>
