<div class="body-block">
    <app-nav-bar></app-nav-bar>
    <div class="main">
        <div class="menu">
            <h3>Menu</h3>
            
            <ul class="menu-ul">     
                <li><a href="goods">Computers</a></li>
                <li><a href="goods">Phones</a></li>
                <li><a href="goods">Drugs</a></li>
                <li><a href="goods">Laptops</a></li>
            </ul>
        </div>

        <div class="content">
            <div class="item"><a href="goods"><img src="https://marketing.itbox.ua/static/tapes/banners/bannerru_17_1560350439.jpeg">item0</a></div>
            <div class="item"><a href="goods"><img src="https://marketing.itbox.ua/static/tapes/banners/bannerru_17_1560350439.jpeg">item1</a></div>
            <div class="item"><a href="goods"><img src="https://marketing.itbox.ua/static/tapes/banners/bannerru_17_1560350439.jpeg">item2</a></div>
            <div class="item"><a href="goods"><img src="https://marketing.itbox.ua/static/tapes/banners/bannerru_17_1560350439.jpeg">item3</a></div>
            <div class="item"><a href="goods"><img src="https://marketing.itbox.ua/static/tapes/banners/bannerru_17_1560350439.jpeg">item4</a></div>
            <div class="item"><a href="goods"><img src="https://marketing.itbox.ua/static/tapes/banners/bannerru_17_1560350439.jpeg">item5</a></div>
            <div class="item"><a href="goods"><img src="https://marketing.itbox.ua/static/tapes/banners/bannerru_17_1560350439.jpeg">item6</a></div>
            <div class="item"><a href="goods"><img src="https://marketing.itbox.ua/static/tapes/banners/bannerru_17_1560350439.jpeg">item7</a></div>
            <div class="item"><a href="goods"><img src="https://marketing.itbox.ua/static/tapes/banners/bannerru_17_1560350439.jpeg">item8</a></div>
            <div class="item"><a href="goods"><img src="https://marketing.itbox.ua/static/tapes/banners/bannerru_17_1560350439.jpeg">item9</a></div>
        </div>
    </div>
    <footer class="footer">footer</footer>

</div>
