.main {
    background: linear-gradient(45deg, rgb(255, 251, 0) -40%, rgba(10, 226, 0, 0) 45%, rgba(10, 255, 255, 255) 130%);
}

.login-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-self: center;
}


$darkpink: #ff2f63;
$gray: #cccdd1;
$navy: #323a45;
$white: #fff;

.body-block {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.body-block {
    flex: 1 0 auto;
    height: 100%;
    font-family: "Open Sans", san-serif;
    background: url("https://images.unsplash.com/38/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cd7525fd7d47a39dc7c79e417aba2069&auto=format&fit=crop&w=1267&q=80")
        no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

form {
  width: 350px;
  height: 450px;

  .form__header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: $navy;
    border-radius: 5px 5px 0 0;

    & .logo_text {
        padding-top: 30px;
        padding-left: 50px;
        display: block;
        font-size: 25px;
        
        color: rgb(255, 144, 17);
    }

    .triangle {
      position: absolute;
      left: 47.5%;
      bottom: -9%;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid $navy;
    }
  }

  .form__body {
    height: calc(100% - 80px);
    background-color: $white;
    text-align: center;
    border-radius: 0 0 5px 5px;

    .title {
      padding-top: 30px;
      margin: 0;
      font-weight: 600;

      span {
        color: $darkpink;
        text-transform: uppercase;
      }
    }

    .description {
      font-size: 12px;
    }

    input {
      width: 250px;
      padding: 8px;
      margin: 7px;
      border: 1px solid $gray;
      border-radius: 5px;
      outline: none;

      &:focus {
        border-color: $darkpink;
      }

      &::placeholder {
        font-size: 12px;
        letter-spacing: 1.5px;
        opacity: 0.8;
      }

      &:focus::placeholder {
        opacity: 0.3;
      }
    }

    button {
      width: 250px;
      padding: 14px;
      margin-top: 10px;
      background-color: $darkpink;
      color: $white;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: $gray;
        cursor: not-allowed;
      }
    }
  }
}

.login {
  text-align: center;
}

.login {
  margin-top: 20px;
  font-size: 12px;
  color: darken($gray, 20%);

  a {
    color: $darkpink;
    text-decoration: none;
  }
}
/************************************/
$content_padding: 100px;
$color_orange: rgb(255, 180, 45);
$color_orange_light: rgb(255, 200, 155);

.body-block {
    display: flex;
    flex-direction: column;
}

.main {

    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1 0 auto;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.footer {
    flex-shrink: 0;
    padding: 5px;
    
}